/*---- Global
            -----*/
body {
    font-family: 'Helvetica', sans-serif;
    /* font-family: 'Fauna One', serif; */

    
    background: url('../img/floorboard_dark.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 -200px;
}

#header {
  margin-top: 40px;
}

#me {
  background:url('https://d262ilb51hltx0.cloudfront.net/fit/c/817/817/0*5Q5kV4onis5SH9W_.jpeg') no-repeat;
  background-size:144px 144px;
  height:144px;
  width:144px;
  border-radius:50%;
  overflow:hidden;
  box-shadow: 0 0 18px 11px #333 inset;
  /*
  box-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
               */
}

#headline {
  margin-top: 40px;
  color: #ddd;
  text-shadow: 1px 1px 7px rgba(0, 0, 5, 0.57);
}

#blurb {
  margin-top: 40px;
  color: #ddd;
  text-shadow: 1px 1px 7px rgba(0, 0, 5, 0.57);
}
#blurb p {
  margin-bottom: .25rem;
  font-size: 1.35rem;
}

.icon_social {
  width: 35px;
  margin-left: 7px;
}
.icon_social span {
  display:block;
  position:relative;
  top: 0;
  left: 0;
  width: 35px;
}
.icon_social svg {
  width: 35px;
  max-height: 40px;
}
.icon_social svg path {
  fill: #ddd;
}
#icon_twitter svg path:hover {
  fill: #2aa9e0;
}
#icon_facebook svg path:hover {
  fill: #3c5a99;
}
#icon_medium svg path:hover {
  fill: #000;
}
#icon_nerve svg path:hover {
  fill: #bb0b0d;
}


/*---- MixItUp
            -----*/

#sortfilter {
  margin-top: 20px;
  background: #dcdcde;
  width: 450px;
  text-align: left;
  border-radius: 8px 8px 0 0;
  padding-top: 10px;
}
#sortfilter .panel {
  padding: 1rem 0rem .5rem 0rem;
  box-shadow: inset 0 1px 0 #ccc,
              inset 0 2px 0 #c9c9c9,
              inset 0 3px 0 #bbb,
              inset 0 4px 0 #b9b9b9,
              inset 0 5px 0 #aaa,
              inset 0 6px 1px rgba(0,0,0,.1),
              inset 0 0 5px rgba(0,0,0,.1),
              inset 0 1px 3px rgba(0,0,0,.3),
              inset 0 3px 5px rgba(0,0,0,.2),
              inset 0 5px 10px rgba(0,0,0,.25),
              inset 0 10px 10px rgba(0,0,0,.2),
              inset 0 20px 20px rgba(0,0,0,.15);
}
#sort, #filter {
  float: left;
}
#filter {
  border-right: 2px solid #CCC;
  padding-right: 10px;
}
#sort {
  /*margin-top: 10px;
  clear: left;*/
  margin-left: 20px;
}
#sort .circle, #filter .circle {
  display: block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  background: #ddd;
  box-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  
}
#sort .sort.active .circle,
#filter .filter.active .circle {
  position: relative;
  top: 5px;
  background: #0078a0;
  box-shadow: inset 0 1px 0 #ccc,
              inset 0 2px 0 #c9c9c9,
              inset 0 3px 0 #bbb,
              inset 0 4px 0 #b9b9b9,
              inset 0 5px 0 #aaa,
              inset 0 6px 1px rgba(0,0,0,.1),
              inset 0 0 5px rgba(0,0,0,.1),
              inset 0 1px 3px rgba(0,0,0,.3),
              inset 0 3px 5px rgba(0,0,0,.2),
              inset 0 5px 10px rgba(0,0,0,.25),
              inset 0 10px 10px rgba(0,0,0,.2),
              inset 0 20px 20px rgba(0,0,0,.15);
}
.sort, .filter {
  float: left;
  padding: 0;
  margin-right: 10px;
  width: 54px;
}

#sort p, #filter p {
  margin: 0;
  padding: 10px 0 0 0;
  text-align: center;
  font-size: .85rem;
  font-style: italic;
  color: #777;
}

#Container {
  text-align: center;
  background: #dcdcde;
}

#Container .mix{
  display: none;
  text-align: left;
}


.book_cover {
  /*
  width: 546px;
  height: 752px;
  */
  width: 410px;
  height: 564px;
}

.book_details {
  height: 188px;
  padding: 0 65px;
  position: relative;
  top: -32px;
}
.date {
  color: #999999;
  font-style: italic;
  margin-bottom: 0;
}
.book_title {
  font-weight: bold;
}
.book_desc {
  color: #222;
}


















