/*---- Global
            -----*/
body {
    /*background: url('../img/floorboard_dark.jpg');*/
    background: #dcdcde;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 -100px;
    font-weight: 400;
}
body, h1, h2, h3, h4, h5 {
  /*font-family: 'Helvetica', sans-serif;*/
  font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-weight: 400;
}
h5 {
  font-size: .95rem
}
#header {
  margin-top: 40px;
}

#me {
  background:url('https://d262ilb51hltx0.cloudfront.net/fit/c/817/817/0*5Q5kV4onis5SH9W_.jpeg') no-repeat;
  background-size:108px 108px;
  height:108px;
  width:108px;
  border-radius:50%;
  overflow:hidden;
  box-shadow: 0 0 13px 8px #111 inset;
  /*
  box-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
               */
}

#social {
  float: right;
}

#headline {
  position: relative;
  left: -16px;
  margin-top: 40px;
  color: #222;
}

#blurb {
  margin-top: 20px;
  color: #222;
}


.icon_social {
  width: 35px;
  margin-left: 5px;
}
.icon_social span {
  display:block;
  position:relative;
  top: 0;
  left: 0;
  width: 35px;
}
.icon_social svg {
  width: 26px;
  max-height: 26px; 
}
.icon_social svg path {
  fill: #222;
}
#icon_twitter {
  position: relative;
  top:-2px;
}
#icon_twitter svg path:hover {
  fill: #2aa9e0;
}
#icon_facebook svg path:hover {
  fill: #3c5a99;
}
#icon_medium svg path:hover {
  fill: #000;
}
#icon_nerve svg path:hover {
  fill: #bb0b0d;
}


/*---- MixItUp
            -----*/

#sortfilter {
  margin-top: 20px;
  background: #dcdcde;
  width: 340px;
  text-align: left;
  border-radius: 8px;
  padding-top: 10px;
  margin-bottom: 10px;
  border-left: 1px solid #a1a1a1;
  border-right: 1px solid #a1a1a1;
}
#sortfilter .panel {
  padding: 1rem 0rem .5rem 0rem;
  box-shadow: inset 0 1px 0 #ccc,
              inset 0 2px 0 #c9c9c9,
              inset 0 3px 0 #bbb,
              inset 0 4px 0 #b9b9b9,
              inset 0 5px 0 #aaa,
              inset 0 6px 1px rgba(0,0,0,.1),
              inset 0 0 5px rgba(0,0,0,.1),
              inset 0 1px 3px rgba(0,0,0,.3),
              inset 0 3px 5px rgba(0,0,0,.2),
              inset 0 5px 10px rgba(0,0,0,.25),
              inset 0 10px 10px rgba(0,0,0,.2),
              inset 0 20px 20px rgba(0,0,0,.15);
}
#sort, #filter {
  float: left;
}
#filter {
  border-right: 2px solid #CCC;
  padding-right: 10px;
}
#sort {
  /*margin-top: 10px;
  clear: left;*/
  margin-left: 20px;
}
#sort .circle, #filter .circle {
  display: block;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  background: #c1c1c1;
  border: 1px solid #a1a1a1;
  box-shadow: 1px 1px 1px #222;
}
#sort .sort.active .circle,
#filter .filter.active .circle {
  background: #0078a0;
  border: none;
  box-shadow: inset 1px 1px 1px #222;
}
.sort, .filter {
  float: left;
  padding: 0;
  margin-right: 8px;
  width: 38px;
  cursor: pointer;
}

#sort p, #filter p {
  margin: 0;
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 0.65rem;
  font-style: italic;
  color: #777;
}

#Container {
  text-align: center;
  background: #dcdcde;
}

#Container .mix{
  display: none;
  text-align: left;
}


.book_cover {
  /*
  width: 546px;
  height: 752px;
  */
  width: 310px;
  height: 427px;
}

.book_details {
  height: 114px;
  padding: 0 46px;
  position: relative;
  top: -18px;

}
.date {
  color: #999999;
  font-style: italic;
  margin-bottom: 0;
}
.book_title {
  font-weight: bold;
}
.book_desc {
  color: #222;
  margin-bottom: 0;
  line-height: 1.4;
  font-size: .8rem;
}



/* // Medium screens  */
@media only screen and (min-width: 40.063em) {
  #header, #blurb_row, #filter_row {
    padding: 0 100px;
  }
  #headline {
    left: 0;
    text-align: right;
  }
  #blurb p {
    margin-bottom: 1rem;
    font-size: 1.10rem;
    line-height: 1.4;
    max-width: none;
    float: right;
    clear: both;
  }
  #sortfilter {
    position: relative;
    top: 0px;
    z-index: 3;
  }
}

/* // Small screens  */
@media only screen and (max-width: 40em) {
  .icon_social svg {
    width: 24px;
    max-height: 24px;
  }
  #headline {
    clear: right;
    font-size: 1.15rem;
    text-align: right;
    margin-top: 36px !important;
    width: 137px;
    float: right !important;
    left: 0;
  }
  #sortfilter {
    position: relative;
    top: 18px;
    width: 280px;
    padding: 4px;
  }
  #sort p, #filter p {
    font-size: 0.35rem;
  }
  .sort, .filter {
    float: left;
    padding: 0;
    margin-right: 4px;
    width: 38px;
  }
  #filter {
    padding-right: 6px;
  }
  #sort {
    margin-left: 6px;
  }
  h5 {
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
  }
  p {
    font-size: .75rem;
  }
  #header, #blurb_row, #filter_row {
    padding: 0 20px;
  }
  #blurb p {
    margin-bottom: .75rem;
    font-size: .95rem;
    line-height: 1;
    max-width: 230px;
    float: right;
    clear: both;
  }
  .book_details {
    height: 108px;
    padding: 0 60px;
  }
}

/* // Large screens  */
@media only screen and (min-width: 64.063em) {
  #headline {
  font-size: 2.25rem;
  left: -16px;
  }
  h5 {
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
  }
  p {
    font-size: .8rem;
  }
  #header, #blurb_row, #filter_row {
    padding: 0 100px;
  }
  #blurb p {
    margin-bottom: .25rem;
    font-size: 1.10rem;
    line-height: 1.4;
    max-width: none;
    float: none;
    clear: none;
  }
  #sortfilter {
    position: relative;
    top: 0px;
    z-index: 3;
  }
}














