body{
	margin:0;
	font-family:"Helvetica",Arial,serif;
	padding:0;
	float:left;
}
div, p, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}
header {
	margin:0;
	font-size: 22px;
	color:#252323;
	padding:10px 5px 0 5px;
	text-align:center;
}
h1 {
	font-size: 40px;
	color:#252323;
	font-weight:bold;
}
h2 {
	position:relative;
	top:10px;
	left:5px;
	font-size: 14px;
	color:#6E6D6C;
	font-weight:bold;
	
}
a {
	text-decoration: none;
	outline:0;
}
a img {
	border-style: none;
}
#container {  
   	padding:30px 5px 0 5px;
   	background-color:#FFF;
} 
.story_box {
	margin:20px 0 0 0;
	width:260px;
}
.summary_indent {
	padding:0 0 0 30px;
}
.story_box h3 {
	font-size: 18px;
	color:#252323;
	font-weight:bold;
}
.story_box h4 {
	font-size: 12px;
	color:#ACABAA;
	font-weight:bold;
}
mark {
	background-color:yellow;
	color:#252323;
	font-size:11px;
	font-weight: bold;
}
summary {
	font-size: 11px;
	color:#6E6D6C;
}
footer {
	margin:0;
	/*background-color:#E6E5E4;*/
	font-size: 11px;
	color:#252323;
	font-weight:bold;
	padding:10px 0 0 0;
}
footer p {
	padding:20px; 0 0 30px;
}
.color_offset {
	color:#ACABAA;
}
